{% load static %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu" style="height: 25px;">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'view_db' %}">Database</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
        </li>
      </ul>
    </div>
  </div>
</nav>